<div>
    
    <div class="shadow" #topo style="height: 500px;">
        <div class="d-flex justify-content-center pt-5">
            <i class="bi bi-moon-stars-fill"></i>
        </div>
        <div class=" container d-flex justify-content-center mb-5 fs-3" style="margin-top: 100px;">
            <label>
                <p>
                    <span class="fw-bold">Magic Consult</span> is a <span class="fw-bold">Fantastic</span> Magic: The Gathering automation card search
                </p>
            </label>
        </div>

        <div class="d-flex justify-content-center" style="margin-top: 100px;"> 
           
            <a href="#letsGo" class="shadow btn btn-warning w-50 " style="height: 50px;">Lets go!</a>
                
        </div>
        

    </div>
    
        
    <div class="container " id="letsGo">
        <div class="d-flex flex-column mb-5" style="margin-top: 100px;">
            <div class="d-flex justify-content-center mb-5 fs-4">
                Select your favorite magic store :
            </div>
            <div class="row justify-content-md-center text-center mt-3">

                <div class="col-md-auto mt-3">
                    <button  class="btn btn-lg shadow-lg" type="button" style="padding: 10px; background-color: #4d4788; width: 200px; height: 100px; border: none;">
                        <img src="https://www.lmcorp.com.br/arquivos/ecom/82238/images/logo2.svg" class="w-100 h-100 img-fluid">
                    </button>
                </div>
                <div class="col-md-auto mt-3">
                    <button disabled class="btn btn-lg shadow-lg" type="button" style="padding: 10px; background-color: #d4d4d4;width: 200px; height: 100px; border: none;">
                        <img src="https://www.lmcorp.com.br/arquivos/ecom/32035/img/logo.png" class="w-100 img-fluid">
                    </button>
                </div>
                
            </div>
            <div class="d-flex justify-content-center mt-5 fs-4">
                Share your list of cards with us so we can help you research!
            </div>
    
        </div>
    
        <div class="row">
            <div class="col">
                <div class="mb-3 d-flex justify-content-center">
                    <textarea class="form-control shadow " id='listCardsSearch' placeholder="Enter your cards list here!" style="width: 200px; height: 300px;" rows="3" ></textarea>
                </div>
            </div>

        </div>
       
        <div class="d-flex justify-content-center mb-5 " style="margin-top: 50px;"> 
            <button class="shadow btn btn-warning shadow w-50" style="height: 50px;">Search !</button>
        </div>

    </div>
    
</div>